.centered-image img {
    display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
}

/* bootstrap gives you no left margin */
body {
    margin-left: 3em;
    margin-right: 3em;
}
.subtitle {
    font-size: 150%;
    font-style: italic;
}

#navigation-list {
	list-style: none;
}
#navigation-list li {
	display: inline;
}
#navigation-list li:not(:last-child):after {
	content: " – ";
}

.terminal-output {
	background-color: black;
	color: green;
	font-family: monospace;
	white-space: pre;
}

.scrollable {
	overflow: scroll;
	height: 200px;
}
